<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>WWM</title>
  <meta content="WWM의 마이페이지" name="description">
  <meta content="산책" name="keywords">

  <!-- Favicons -->
  <link href="/images/메인 아이콘.jpg" rel="icon">
  <link href="/images/메인 아이콘.jpg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="\stylesheets\aos.css" rel="stylesheet">
  <link href="\stylesheets\bootstrap.min.css" rel="stylesheet">
  <link href="\stylesheets/bootstrap-icons.css" rel="stylesheet">
  <link href="\stylesheets\boxicons.min.css" rel="stylesheet">
  <link href="\stylesheets\glightbox.min.css" rel="stylesheet">
  <link href="\stylesheets\swiper-bundle.min.css" rel="stylesheet">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet" >


  <!-- Template Main CSS File -->
  <link href="\stylesheets/inner.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Bocor
  * Template URL: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="/users/success">WWM<span>.</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="/users/success">Home</a></li>
          <!-- <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
          <li><a class="nav-link scrollto" href="/users/mypage">My Page</a> </li>
          <li>
            <form action ="/users/logout" method="get">
              <input type = "submit" class="getstarted scrollto" value="Logout">
            </form></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>My Page</h2>
          <ol>
            <!-- <li><a href="/users/success">Home</a></li>
            <li>My Page</li> -->
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->


    <section class = "box">
     <div class="box1">
     <div class="wrapper">
        <div class="img-area">
          <div class="inner-area">
            <!-- <img src="\images\제목_없는_아트워크_(5).jpg" alt=""> -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#a4e5af" d="M512 32c0 113.6-84.6 207.5-194.2 222c-7.1-53.4-30.6-101.6-65.3-139.3C290.8 46.3 364 0 448 0l32 0c17.7 0 32 14.3 32 32zM0 96C0 78.3 14.3 64 32 64l32 0c123.7 0 224 100.3 224 224l0 32 0 160c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-160C100.3 320 0 219.7 0 96z"/></svg>
          </div>
        </div>
        <!-- <div class="icon arrow"><i class="fas fa-arrow-left"></i></div>
        <div class="icon dots"><i class="fas fa-ellipsis-v"></i></div> -->
        <div class="name"><%=ni.name%></div>
        <!-- <div class="about"></div> -->
        <div class="social-icons">
          <a href="#" class="fb"><i class="bi bi-twitter" style="color:rgb(171, 191, 163)"></i></a>
          <a href="#" class="twitter"><i class="bi bi-facebook" style="color:rgb(171, 191, 163)"></i></a>
          <a href="#" class="insta"><i class="bi bi-instagram" style="color:rgb(171, 191, 163)"></i></a>
          <a href="#" class="yt"><i class="bi bi-linkedin" style="color:rgb(171, 191, 163)"></i></a>
        </div>
        <!-- <div class="reprofile">
          <button id="openPopUp">프로필 수정</button>
        </div> -->
      </div>
    

    
      <div class="card bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header">목차</div>
        
          
            <ul class="card-body" style="list-style-image: url(\images\paw.png) ;">
              <li><a href="http://localhost:3000/users/modi">회원 정보 수정</a></li>
              <!-- <li><a href="http://localhost:3000/users/exercise">나의 활동</a></li> -->
              <!-- <li>리워드</li> -->
            </ul>
        
      </div>
      </div>

    <div class="box2">
      <div class="state">
        <div class="st">
        <h5><i class="fa-solid fa-person-walking fa-lg"></i>&nbsp; 사용자 기본 정보  </h5>
        <p>이름:&nbsp;&nbsp; <%=result.name%> </br>
        나이:&nbsp;&nbsp; <%=result.age%></br>
        거주 지역:&nbsp;&nbsp; <%=result.city%></br>
        건강 상태:&nbsp;&nbsp; <%=result.healthcondition%></br>
        운동 시간:&nbsp;&nbsp; <%=result.exerciseTime%></br></p>
          <!-- 리워드:  -->
        
      </div>
    </div>
      <div class="contents">
        <div class="exer"> <!--내용 전체 크기 -->
          <div class="exer-box"> <!--컨텐츠 크기-->
              
                  <!-- <p><div class="a-tag"><i class="fa-solid fa-person-walking fa-lg"></i> 나의 목표는 입니다. <button id="openG">> 목표 설정하기</button></div></p>
                  <p><div class="a-tag"><i class="fa-solid fa-person-walking fa-lg"></i>총 km: </div></p> -->
                  <p><div class="a-tag" style="font-weight: bold;"><i class="fa-solid fa-person-walking fa-lg"></i>&nbsp; 최근 활동  </div>
                        <div class="tag" style= "color: rgb(24, 24, 25)" >출발지 : <%=path.start%></div></br>
                        <div class="tag" style= "color: rgb(36, 36, 40)">도착지 : <%=path.end%></div></br>
                        <div class="tag" style= "color: rgb(22, 22, 23)">SPPB: <%=path.sppb%></div> </br>
                        <div class="tag" style= "color: rgb(22, 22, 23)">점수: <%=path.s_altitude%></div></p>
                      
                  
              </div>

          </div>
     
      
      
      </div>

    
    </div>
    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>WWM</h3>
            <p>Let's walk together!!</p>
          </div>
        </div>

        <!-- <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div> -->

        <div class="social-links">
          <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
        </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Bocor</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="\javascripts\aos.js"></script>
  <script src="\javascripts\bootstrap.bundle.min.js"></script>
  <script src="\javascripts\glightbox.min.js"></script>
  <script src="\javascripts\isotope.pkgd.min.js"></script>
  <script src="\javascripts\swiper-bundle.min.js"></script>
  <script src="\javascripts\validate.js"></script>

  <!-- Template Main JS File -->
  <script src="\javascripts/main.js"></script>
  <script src="\javascripts/popup.js"></script>
</body>

</html>
